/* CSS Document */
.update_from{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 5px;
}
.no{
	float:left;
	width:100px;
	color:#000;
	background-color:#eee;
	border:0;
	margin-left:20px;
	margin-top:20px;
	}
.yes{
	float: right;
	width:100px;
	color:#FFF;
	background-color:#2181ff;
	border:0;
	margin-right:20px;
	margin-top:20px;
	}
.tisikuang{
	width:300px;
	height:100px;
	border:#eee solid 1px;
	border-radius:4px;
	position:absolute;
	top:20%;
	left:40%;
	background-color:#FFF;
	text-align:center;
	color:#000;
	padding-top:20px;
	}


